nav .navbar-brand {
    margin-left: 30px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: orange;
}

#home {
    position: relative;
    height: 100vh;
}


.footer {
    background-color: #343a40;
    color: white;
    width: 100%;
}

.center-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-btn a:hover {
    background-color: black;
    color: white;
    border: none;
}

.row p {
    text-align: justify;
}

.row i {
    font-size: 30px;
    margin-left: -160px;
}

.row i:hover {
    color: orange;
}

#home img {
    width: 100%;
    height: 105%;
    object-fit: cover;
}